body {
    margin: 0;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.top-navbar {
    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 15px;
    padding: 10px;
}

.gmail-button {
    margin-right: 15px;
}

.gmail-button:hover {
    text-decoration: underline;
}

.images-button {
    margin-right: 15px;
}

.images-button:hover {
    text-decoration: underline;
}

.apps-button {
    padding: 10px;
    margin-right: 20px;
    margin-left: 15px;
    opacity: 0.6;
}

.apps-icon {
    height: 25px;
    width: auto;
}

.apps-button:hover {
  
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1)
}

.account-menu  {
    width: 7em;
    height: 2.5em;
    color: rgb(255,255,255);
    background-color:rgb(43, 125, 233);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-menu:hover {
    background-color: rgba(43, 125, 233, 0.6);
}

.main-logo {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form {
    height: 40px;
    min-width: 35vw;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-form:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
}

.search-icon {
    height: 50%;
    width: auto;
    opacity: 0.4;
}

.input-field {
    border: none;
    width: 90%;
}

.input-field:enabled {
    outline: none;
}

.first-row {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.search-type-button {
    background-color: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    margin: 15px 5px;
    padding: 0 10px;
}

.search-type-button:hover {
   /* border: 1px solid rgba(0, 0, 0, 0.3);*/
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.language-settings {
    font-family: Arial, sans-serif;
     color: rgba(0, 0, 0, 0.87);
     font-size: 15px;
}

.language-link {
    color: rgba(43, 125, 233, 0.9);
}

.language-link:hover {
    text-decoration: underline;
}

.footer {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.55);
    font-family: Arial, sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.country{
    padding: 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bottom-navbar {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.left-menu {
    display: flex;
}

.right-menu {
    display: flex;
}

.bottom-menu-button {
    padding: 10px 10px;
}

.bottom-menu-button:hover {
    text-decoration: underline;
}