.horizontal-navbar {
    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1em;
}

.gmail-button {
    margin-right: 1em;
}

.images-button {
    margin-right: 1em;
}

.apps-button {
    margin-right: 1.5em;
    margin-left: 1em;
    opacity: 0.6;
}

.apps-icon{
    height: 1.5em;
    width: auto;
}

.account-menu  {
    width: 7em;
    height: 2.5em;
    color: rgb(255,255,255);
    background-color:rgb(43, 125, 233);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form {
    height: 3em;
    min-width: 35vw;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-form:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
}

.search-icon {
    height: 50%;
    width: auto;
    opacity: 0.4;
}

.input-field {
    border: none;
    width: 90%;
}

.input-field:focus {
    border: none;
}

.first-row {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.google-search-button, .feeling-lucky-button {
    background-color: rgba(0, 0, 0, 0.02);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    margin: 2em 0.5em;
    padding: 0 1.5em;
}